.blur-right-enter-active,
.blur-right-leave-active,
.blur-left-enter-active,
.blur-left-leave-active {
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.blur-right-enter-from,
.blur-right-leave-to,
.blur-left-enter-from,
.blur-left-leave-to {
  filter: blur(20px);
  opacity: 0;
}
