.collapse-y-left-enter-active,
.collapse-y-right-leave-active {
  transition: transform 0.36s ease;
  transform-origin: 0% 50%;
}

.collapse-y-left-leave-active,
.collapse-y-right-enter-active {
  transition: transform 0.36s ease;
  transform-origin: 100% 50%;
}

.collapse-y-left-enter-from,
.collapse-y-left-leave-to,
.collapse-y-right-enter-from,
.collapse-y-right-leave-to {
  transform: scaleX(0) translateZ(0);
}
