.diagonally-fade-out-left-leave-active,
.diagonally-fade-out-right-enter-active {
  transition:
    transform 0.36s ease,
    opacity 0.36s ease;
  transform-origin: 50% 130%;
}

.diagonally-fade-out-left-enter-active,
.diagonally-fade-out-right-leave-active {
  z-index: 99;
  transition:
    transform 0.36s ease,
    opacity 0.36s ease;
  transform-origin: 50% 130%;
}

.diagonally-fade-out-left-leave-to,
.diagonally-fade-out-right-enter-from {
  transform: translateY(60vw);
  opacity: 0;
}

.diagonally-fade-out-left-enter-from,
.diagonally-fade-out-right-leave-to {
  opacity: 0;
  transform: rotate(-45deg);
}
