.flip-y-left-enter-active,
.flip-y-right-enter-active {
  z-index: 1;
  transition: transform 0.5s ease-out;
  backface-visibility: hidden;
}

.flip-y-left-leave-active,
.flip-y-right-leave-active {
  z-index: 2;
  transition: transform 0.5s ease-out;
  backface-visibility: hidden;
}

.flip-y-left-leave-to,
.flip-y-right-enter-from {
  transform: rotateY(180deg);
}

.flip-y-left-enter-from,
.flip-y-right-leave-to {
  transform: rotateY(-180deg);
}
