.left_fly_out-left-enter-active,
.left_fly_out-right-leave-active,
.left_fly_out-left-leave-active,
.left_fly_out-right-enter-active {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}
.left_fly_out-left-leave-active,
.left_fly_out-right-enter-active {
  z-index: 9;
}

.left_fly_out-left-leave-to,
.left_fly_out-right-enter-from {
  transform: translateX(100%);
}

.left_fly_out-left-enter-from,
.left_fly_out-right-leave-to {
  transform: scale(0.8);
  opacity: 0;
}
