.slide-cover-right-enter-active,
.slide-cover-left-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}
.slide-cover-right-leave-active,
.slide-cover-left-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}
.slide-cover-right-enter-active,
.slide-cover-left-leave-active {
  z-index: 200;
}

.slide-cover-right-enter-from,
.slide-cover-left-leave-to {
  opacity: 1;
  transform: translate3d(0, 100%, 0) scale(1);
}

.slide-cover-right-leave-to,
.slide-cover-left-enter-from {
  transform: translate3d(0, 0, 0) scale(0.8);
  opacity: 0.6;
}
