.zoom-right-enter-active,
.zoom-left-enter-active {
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  position: absolute;
  top: 0;
  z-index: 10;
}

.zoom-right-leave-active,
.zoom-left-leave-active {
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  position: absolute;
  top: 0;
}

.zoom-left-leave-active,
.zoom-right-enter-active {
  z-index: 20;
}

.zoom-right-enter-from,
.zoom-left-leave-to {
  opacity: 0;
  transform: scale(1.2);
}

.zoom-right-leave-to,
.zoom-left-enter-from {
  opacity: 0;
  transform: scale(0.9);
}
