@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.v-audio[data-z-audio] {
  position: absolute;
  top: 80px;
  right: 50px;
  z-index: 1090;
  padding: 5px;
  filter: invert(1);
  border: 5px #fff solid;
  border-radius: 50%;
}

.v-audio[data-z-audio] img {
  width: 50px;
  height: 50px;
  animation: rotate360 4s linear infinite;
}
