.popup-wx[data-z-wx-login] {
  .login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 60px 0;
    background: #fff;
    border-radius: 10px;

    >p {
      margin-bottom: 40px;
      font-size: 32px;
    }

    .box2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 80px;
      color: #fff;
      background: #12c164;
      border-radius: 12px;

      svg {
        width: 60px;
        margin-right: 10px;
      }

      p {
        font-size: 30px;
      }
    }
  }
}
