/*
  power1: 0.4, 0.8, 0.74, 1
  power2: 0.32, 0.94, 0.6, 1
  power3: 0.26, 1, 0.48, 1
  power4: 0.22, 1, 0.36, 1
*/

*::-webkit-scrollbar {
  display: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

*:not(input, textarea) {
  -webkit-touch-callout: none;
  user-select: none;
}

html,
body {
  /* width: 750px;
  height: 100%; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
  /* touch-action: none; */
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 28px;
}

html.cover,
.cover body {
  position: relative;
  /* width: 750px; */
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

select option {
  background: #fff;
  color: #000;
}

code {
  font-family: inherit;
}

img {
  object-fit: contain;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  max-width: none;
  display: unset;
}

canvas {
  display: block;
}
