code {
  font-family: inherit;
}

[code] {
  pointer-events: none;
}

img {
  display: block;
  max-width: none;
  object-fit: contain;
}

img,
video {
  max-width: none;
}

canvas {
  display: block;
}
