:root:root {
  --van-black: #1d1d1f;
  --van-toast-position-top-distance: 9%;
  --van-toast-loading-icon-color: #111;
  --van-floating-bubble-background: transparent;
}

:root:root {
  --z-toast-background: rgb(245 245 247 / 72%);
  --z-toast-color: #1d1d1f;
}

.van-toast.center_toast {
  padding: 16px 24px;
  font-size: 30px;
  color: var(--z-toast-color);
  letter-spacing: 0.3px;
  background: var(--z-toast-background);
  backdrop-filter: saturate(180%) blur(12px);
  border: 2px solid rgb(245 245 247 / 20%);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 12%) 0 3px 8px;
}

.center_toast_overlay {
  background: #0002;
}

.center_fromTop_toast-enter-active,
.center_fromTop_toast-leave-active {
  transition:
    transform 0.32s ease,
    opacity 0.2s ease;
}

.center_fromTop_toast-enter-from,
.center_fromTop_toast-leave-to {
  opacity: 0;
  transform: translateY(calc(-50% + 180px));
}
