:root:root {
  --van-black: #1d1d1f;
  --van-toast-position-top-distance: 9%;
  --van-toast-loading-icon-color: #111;
  --van-floating-bubble-background: transparent;
}

:root:root {
  --z-toast-background: #f5f5f7aa;
  --z-toast-color: #1d1d1f;
}

.van-toast.center_toast {
  min-width: 160px;
  padding: 14px 28px;
  font-size: 28px;
  color: var(--z-toast-color);
  letter-spacing: 0.3px;
  background: var(--z-toast-background);
  -webkit-backdrop-filter: saturate(180%) blur(12px);
  backdrop-filter: saturate(180%) blur(12px);
  border: 2px solid #f5f5f733;
  border-radius: 4px;
  box-shadow: #0000001f 0 3px 8px;
  /* text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #3051db;
  color: #091d6e;
  text-underline-offset: 6px; */
}

.center_toast_overlay {
  background: #0006;
}

.center_fromTop_toast-enter-active,
.center_fromTop_toast-leave-active {
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.center_fromTop_toast-enter-from,
.center_fromTop_toast-leave-to {
  opacity: 0;
  transform: translateY(calc(-50% + 150px));
}

.van-popup__close-icon::after {
  content: '';
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
}

.popup-enter-active,
.popup-leave-active {
  transition:
    opacity 0.16s ease,
    transform 0.26s cubic-bezier(0.32, 0.94, 0.6, 1) !important;
}

.popup-enter-from,
.popup-leave-to {
  opacity: 0 !important;
  transform: translateY(calc(-50% + 100px)) !important;
}

/* .van-toast__text {
  white-space: nowrap;
} */
