@import './base.css';
@import './plugin/tailwind.css';
@import './plugin/progress.css';
@import './plugin/piece.css';
@import './plugin/fixPlugin.css';

div::-webkit-scrollbar {
  display: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* word-break: break-all; */
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 1.1;
  font-size: 28px;
}

.cover #app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  /* overscroll-behavior: none; */
  scroll-behavior: smooth;
}

.cover .wrapper {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  min-height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  -webkit-overflow-scrolling: touch;

  /* overscroll-behavior: none; */
}

img,
video {
  max-width: none;
}

code {
  font-family: inherit;
}

[code] {
  pointer-events: none;
}

/* @font-face {
  font-family: f-yuan;
  src:
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.ttf') format('truetype');
  font-display: swap;
} */

/*
*,
input {
  font-family:
    '苹方',
    f-yuan,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
} */
