@import './base.css';
@import './piece.css';
@import './progress.css';

#app {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  perspective: 1600px;
}

.wrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* overscroll-behavior: none; */
  font-size: 28px;
  scroll-behavior: smooth;
}

div::-webkit-scrollbar {
  display: none;
}

.content {
  width: 100vw;
  min-height: max(1430px, 100%);
  -webkit-overflow-scrolling: touch；;
  overflow-x: hidden;
  overflow-y: hidden;

  /* overscroll-behavior: none; */
}

code {
  font-family: inherit;
}

[btn] {
  cursor: pointer;
  filter: drop-shadow(4px 4px 5px #0003);
}

[btn]:active {
  transition:
    opacity 0.09s ease,
    transform 0.09s ease;
  opacity: 0.9;
  transform: scale(0.96) translateZ(0);
}

[code] {
  pointer-events: none;
}

/* @font-face {
  font-family: f-yuan;
  src:
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.ttf') format('truetype');
  font-display: swap;
} */

/*
*,
input {
  font-family:
    '苹方',
    f-yuan,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
} */
