#app.pc {
  box-shadow:
    #0000001f 0px 1px 3px,
    #0000003d 0px 1px 2px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.1) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transform: scale(1);
  margin: 0 auto;
}

.cover #app.pc {
  box-shadow:
    #0000001f 0px 1px 3px,
    #0000003d 0px 1px 2px;

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.1) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transform: scale(1);
  margin: 0 auto;
}

.pc.code-tips {
  position: fixed;
  top: 50%;
  transform: translateY(calc(-50% - 6vh));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:
    #0000001f 0px 0.01vw 0.02vw,
    #0000003d 0px 0.02vw 0.3vw;
  border-radius: 0.6vw;
  padding: max(0.5vw, 8px);
  width: 12vw;
  width: max(12vw, 180px);
  background-color: #fff;
  cursor: pointer;
}

.pc.code-tips img {
  width: 100%;
  border-radius: 0.6vw;
  border: 0.1vw solid #eee9;
}

.pc.code-tips p {
  margin: 0.6vw 0;
  font-weight: 600;
  font-size: 1vw;
  font-size: max(16px, 1vw);
}
