/* 阴影 */
.shadow_1 {
  box-shadow: rgb(0 0 0 / 15%) 0 5px 15px 0;
}

.shadow_2 {
  box-shadow: rgb(0 0 0 / 15%) 0 10px 70px;
}

.shadow_3 {
  box-shadow: rgb(0 0 0 / 15%) 0 3px 3px 0;
}

.box-header {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

/*  心跳动画 */
@keyframes heartBeat_k {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.12);
  }

  28% {
    transform: scale(0.96);
  }

  42% {
    transform: scale(1.12);
  }

  70% {
    transform: scale(1);
  }
}

.heartBeat {
  animation: heartBeat_k 1.5s 0.3s ease-in-out infinite;
}

.expand {
  position: relative;
}

.expand::before {
  position: absolute;
  inset: -20px;
  content: '';
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
