@keyframes panoramic {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/* 斑马条纹 */
.loadingZebra {
  background: repeating-linear-gradient(
    -45deg,
    var(--color2, #80deea80) 25%,
    var(--color, #80deea) 0,
    var(--color, #80deea) 50%,
    var(--color2, #80deea80) 0,
    var(--color2, #80deea80) 75%,
    var(--color, #80deea) 0
  );
  background-size: 30px 30px;
  animation: panoramic 12s linear infinite;
}

/* 阴影 */
.shadow_1 {
  box-shadow: rgb(0 0 0 / 15%) 0 5px 15px 0;
}

.shadow_2 {
  box-shadow: rgb(0 0 0 / 15%) 0 10px 70px;
}

.shadow_3 {
  box-shadow: rgb(0 0 0 / 15%) 0 3px 3px 0;
}

.box-header {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

/*  心跳动画 */
@keyframes heartBeat_k {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }

  28% {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }

  42% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  animation: heartBeat_k 1.5s 0.3s ease-in-out infinite;
}

/* 扩大点击 */
.expand {
  position: relative;
}

.expand::before {
  position: absolute;
  inset: -10px;
  content: '';
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
