@property --border-gradient-angle {
  syntax: '<angle>';
  initial-value: 0turn;
  inherits: false;
}

@keyframes border-gradient-angle-keyframes {
  from {
    --border-gradient-angle: 0turn;
  }
  to {
    --border-gradient-angle: 1turn;
  }
}

.conic-gradient {
  --border-gradient-angle: 0turn;

  background-image: conic-gradient(
    from var(--border-gradient-angle) at 50% 50%,
    transparent,
    #70ffaf 14%,
    transparent 17%
  );

  animation: border-gradient-angle-keyframes 3s linear infinite;
}
