/*
  power1: 0.4, 0.8, 0.74, 1
  power2: 0.32, 0.94, 0.6, 1
  power3: 0.26, 1, 0.48, 1
  power4: 0.22, 1, 0.36, 1
*/

/* 透明度变化 */
.slideApp-enter-active,
.slideApp-leave-active {
  transition: opacity 0.39s ease;
}

.slideApp-enter-from,
.slideApp-leave-to {
  opacity: 0;
}

.FilterBlur-right-enter-active,
.FilterBlur-right-leave-active {
  transition:
    filter 0.39s ease,
    opacity 0.39s ease;
}

.FilterBlur-right-enter-from,
.FilterBlur-right-leave-to {
  filter: blur(36px);
  opacity: 0;
}

.FilterBlur-left-enter-active,
.FilterBlur-left-leave-active {
  transition:
    filter 0.39s ease,
    opacity 0.39s ease;
}

.FilterBlur-left-enter-from,
.FilterBlur-left-leave-to {
  filter: blur(36px);
  opacity: 0;
}

.Zoom-right-enter-active,
.Zoom-left-enter-active,
.Zoom-right-leave-active,
.Zoom-left-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.36s ease;
}

.Zoom-right-enter-from,
.Zoom-left-leave-to {
  opacity: 0;
  transform: scale(1.16);
}

.Zoom-right-leave-to,
.Zoom-left-enter-from {
  opacity: 0;
  transform: scale(0.86);
}

.Slide-left-enter-active,
.Slide-right-leave-active {
  opacity: 1;
  transition: transform 0.5s ease;
}

.Slide-left-leave-active,
.Slide-right-enter-active {
  z-index: 99999;
  opacity: 1;
  transition: transform 0.5s ease;
}

.Slide-left-leave-to,
.Slide-right-enter-from {
  transform: translate3d(100%, 0, 0);
}

.Slide-left-enter-from,
.Slide-right-leave-to {
  transform: translate3d(-36%, 0, 0);
}

.FlipY-left-enter-active,
.FlipY-right-enter-active {
  z-index: 1;
  transition: transform 0.8s ease-out;
  backface-visibility: hidden;
}

.FlipY-left-leave-active,
.FlipY-right-leave-active {
  z-index: 2;
  transition: transform 0.8s ease-out;
  backface-visibility: hidden;
}

.FlipY-left-leave-to,
.FlipY-right-enter-from {
  transform: rotateY(180deg);
}

.FlipY-left-enter-from,
.FlipY-right-leave-to {
  transform: rotateY(-180deg);
}

.CollapseY-left-enter-active,
.CollapseY-right-leave-active {
  transition: transform 0.36s ease;
  transform-origin: 0% 50%;
}

.CollapseY-left-leave-active,
.CollapseY-right-enter-active {
  transition: transform 0.36s ease;
  transform-origin: 100% 50%;
}

.CollapseY-left-enter-from,
.CollapseY-left-leave-to,
.CollapseY-right-enter-from,
.CollapseY-right-leave-to {
  transform: scaleX(0) translateZ(0);
}

.DiagonallyFadeOut-left-leave-active,
.DiagonallyFadeOut-right-enter-active {
  transition: transform 0.36s ease 0.1s;
  transform-origin: 50% 130%;
}

.DiagonallyFadeOut-left-enter-active,
.DiagonallyFadeOut-right-leave-active {
  z-index: 99;
  transition:
    transform 0.36s ease,
    opacity 0.36s ease;
  transform-origin: 50% 130%;
}

.DiagonallyFadeOut-left-leave-to,
.DiagonallyFadeOut-right-enter-from {
  transform: translateY(5vw);
}

.DiagonallyFadeOut-left-enter-from,
.DiagonallyFadeOut-right-leave-to {
  opacity: 0;
  transform: rotate(-45deg);
}

/* 左侧飞出 */
.leftFlyOut-left-leave-active,
.leftFlyOut-right-enter-active {
  z-index: 9;
  transition: transform 0.36s ease 0.1s;
}

.leftFlyOut-left-leave-to,
.leftFlyOut-right-enter-from {
  transform: translateX(100%);
}

.leftFlyOut-left-enter-active,
.leftFlyOut-right-leave-active {
  transition: transform 0.5s ease;
}

.leftFlyOut-left-enter-from,
.leftFlyOut-right-leave-to {
  transform: scale(0.96);
}

.slidePage-right-enter-active,
.slidePage-left-enter-active {
  transition: transform 0.5s ease;
}
.slidePage-right-leave-active,
.slidePage-left-leave-active {
  transition: transform 0.5s ease;
}

.slidePage-right-enter-from,
.slidePage-left-leave-to {
  transform: translate3d(0, 100%, 0);
}

.slidePage-right-leave-to,
.slidePage-left-enter-from {
  transform: translate3d(0, -100%, 0);
}
