@theme {
  --text-1: 1px;
  --text-2: 2px;
  --text-3: 3px;
  --text-4: 4px;
  --text-5: 5px;
  --text-6: 6px;
  --text-7: 7px;
  --text-8: 8px;
  --text-9: 9px;
  --text-10: 10px;
  --text-11: 11px;
  --text-12: 12px;
  --text-13: 13px;
  --text-14: 14px;
  --text-15: 15px;
  --text-16: 16px;
  --text-17: 17px;
  --text-18: 18px;
  --text-19: 19px;
  --text-20: 20px;
  --text-21: 21px;
  --text-22: 22px;
  --text-23: 23px;
  --text-24: 24px;
  --text-25: 25px;
  --text-26: 26px;
  --text-27: 27px;
  --text-28: 28px;
  --text-29: 29px;
  --text-30: 30px;
  --text-31: 31px;
  --text-32: 32px;
  --text-33: 33px;
  --text-34: 34px;
  --text-35: 35px;
  --text-36: 36px;
  --text-37: 37px;
  --text-38: 38px;
  --text-39: 39px;
  --text-40: 40px;
  --text-41: 41px;
  --text-42: 42px;
  --text-43: 43px;
  --text-44: 44px;
  --text-45: 45px;
  --text-46: 46px;
  --text-47: 47px;
  --text-48: 48px;
  --text-49: 49px;
  --text-50: 50px;
  --text-51: 51px;
  --text-52: 52px;
  --text-53: 53px;
  --text-54: 54px;
  --text-55: 55px;
  --text-56: 56px;
  --text-57: 57px;
  --text-58: 58px;
  --text-59: 59px;
  --text-60: 60px;
  --text-61: 61px;
  --text-62: 62px;
  --text-63: 63px;
  --text-64: 64px;
  --text-65: 65px;
  --text-66: 66px;
  --text-67: 67px;
  --text-68: 68px;
  --text-69: 69px;
  --text-70: 70px;
  --text-71: 71px;
  --text-72: 72px;
  --text-73: 73px;
  --text-74: 74px;
  --text-75: 75px;
  --text-76: 76px;
  --text-77: 77px;
  --text-78: 78px;
  --text-79: 79px;
  --text-80: 80px;
  --text-81: 81px;
  --text-82: 82px;
  --text-83: 83px;
  --text-84: 84px;
  --text-85: 85px;
  --text-86: 86px;
  --text-87: 87px;
  --text-88: 88px;
  --text-89: 89px;
  --text-90: 90px;

  --radius-1: 1px;
  --radius-2: 2px;
  --radius-3: 3px;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-7: 7px;
  --radius-8: 8px;
  --radius-9: 9px;
  --radius-10: 10px;
  --radius-11: 11px;
  --radius-12: 12px;
  --radius-13: 13px;
  --radius-14: 14px;
  --radius-15: 15px;
  --radius-16: 16px;
  --radius-17: 17px;
  --radius-18: 18px;
  --radius-19: 19px;
  --radius-20: 20px;
  --radius-21: 21px;
  --radius-22: 22px;
  --radius-23: 23px;
  --radius-24: 24px;
  --radius-25: 25px;
  --radius-26: 26px;
  --radius-27: 27px;
  --radius-28: 28px;
  --radius-29: 29px;
  --radius-30: 30px;
  --radius-31: 31px;
  --radius-32: 32px;
  --radius-33: 33px;
  --radius-34: 34px;
  --radius-35: 35px;
  --radius-36: 36px;
  --radius-37: 37px;
  --radius-38: 38px;
  --radius-39: 39px;
  --radius-40: 40px;
  --radius-41: 41px;
  --radius-42: 42px;
  --radius-43: 43px;
  --radius-44: 44px;
  --radius-45: 45px;
  --radius-46: 46px;
  --radius-47: 47px;
  --radius-48: 48px;
  --radius-49: 49px;
  --radius-50: 50px;
  --radius-51: 51px;
  --radius-52: 52px;
  --radius-53: 53px;
  --radius-54: 54px;
  --radius-55: 55px;
  --radius-56: 56px;
  --radius-57: 57px;
  --radius-58: 58px;
  --radius-59: 59px;
  --radius-60: 60px;
  --radius-61: 61px;
  --radius-62: 62px;
  --radius-63: 63px;
  --radius-64: 64px;
  --radius-65: 65px;
  --radius-66: 66px;
  --radius-67: 67px;
  --radius-68: 68px;
  --radius-69: 69px;
  --radius-70: 70px;
  --radius-71: 71px;
  --radius-72: 72px;
  --radius-73: 73px;
  --radius-74: 74px;
  --radius-75: 75px;
  --radius-76: 76px;
  --radius-77: 77px;
  --radius-78: 78px;
  --radius-79: 79px;
  --radius-80: 80px;
  --radius-81: 81px;
  --radius-82: 82px;
  --radius-83: 83px;
  --radius-84: 84px;
  --radius-85: 85px;
  --radius-86: 86px;
  --radius-87: 87px;
  --radius-88: 88px;
  --radius-89: 89px;
  --radius-90: 90px;

  --tracking-1: 1px;
  --tracking-2: 2px;
  --tracking-3: 3px;
  --tracking-4: 4px;
  --tracking-5: 5px;
  --tracking-6: 6px;
  --tracking-7: 7px;
  --tracking-8: 8px;
  --tracking-9: 9px;
  --tracking-10: 10px;
  --tracking-11: 11px;
  --tracking-12: 12px;
  --tracking-13: 13px;
  --tracking-14: 14px;
  --tracking-15: 15px;
  --tracking-16: 16px;
  --tracking-17: 17px;
  --tracking-18: 18px;
  --tracking-19: 19px;
  --tracking-20: 20px;

  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-13: 13px;
  --spacing-14: 14px;
  --spacing-15: 15px;
  --spacing-16: 16px;
  --spacing-17: 17px;
  --spacing-18: 18px;
  --spacing-19: 19px;
  --spacing-20: 20px;
  --spacing-21: 21px;
  --spacing-22: 22px;
  --spacing-23: 23px;
  --spacing-24: 24px;
  --spacing-25: 25px;
  --spacing-26: 26px;
  --spacing-27: 27px;
  --spacing-28: 28px;
  --spacing-29: 29px;
  --spacing-30: 30px;
  --spacing-31: 31px;
  --spacing-32: 32px;
  --spacing-33: 33px;
  --spacing-34: 34px;
  --spacing-35: 35px;
  --spacing-36: 36px;
  --spacing-37: 37px;
  --spacing-38: 38px;
  --spacing-39: 39px;
  --spacing-40: 40px;
  --spacing-41: 41px;
  --spacing-42: 42px;
  --spacing-43: 43px;
  --spacing-44: 44px;
  --spacing-45: 45px;
  --spacing-46: 46px;
  --spacing-47: 47px;
  --spacing-48: 48px;
  --spacing-49: 49px;
  --spacing-50: 50px;
  --spacing-51: 51px;
  --spacing-52: 52px;
  --spacing-53: 53px;
  --spacing-54: 54px;
  --spacing-55: 55px;
  --spacing-56: 56px;
  --spacing-57: 57px;
  --spacing-58: 58px;
  --spacing-59: 59px;
  --spacing-60: 60px;
  --spacing-61: 61px;
  --spacing-62: 62px;
  --spacing-63: 63px;
  --spacing-64: 64px;
  --spacing-65: 65px;
  --spacing-66: 66px;
  --spacing-67: 67px;
  --spacing-68: 68px;
  --spacing-69: 69px;
  --spacing-70: 70px;
  --spacing-71: 71px;
  --spacing-72: 72px;
  --spacing-73: 73px;
  --spacing-74: 74px;
  --spacing-75: 75px;
  --spacing-76: 76px;
  --spacing-77: 77px;
  --spacing-78: 78px;
  --spacing-79: 79px;
  --spacing-80: 80px;
  --spacing-81: 81px;
  --spacing-82: 82px;
  --spacing-83: 83px;
  --spacing-84: 84px;
  --spacing-85: 85px;
  --spacing-86: 86px;
  --spacing-87: 87px;
  --spacing-88: 88px;
  --spacing-89: 89px;
  --spacing-90: 90px;
  --spacing-91: 91px;
  --spacing-92: 92px;
  --spacing-93: 93px;
  --spacing-94: 94px;
  --spacing-95: 95px;
  --spacing-96: 96px;
  --spacing-97: 97px;
  --spacing-98: 98px;
  --spacing-99: 99px;
  --spacing-100: 100px;
  --spacing-101: 101px;
  --spacing-102: 102px;
  --spacing-103: 103px;
  --spacing-104: 104px;
  --spacing-105: 105px;
  --spacing-106: 106px;
  --spacing-107: 107px;
  --spacing-108: 108px;
  --spacing-109: 109px;
  --spacing-110: 110px;
  --spacing-111: 111px;
  --spacing-112: 112px;
  --spacing-113: 113px;
  --spacing-114: 114px;
  --spacing-115: 115px;
  --spacing-116: 116px;
  --spacing-117: 117px;
  --spacing-118: 118px;
  --spacing-119: 119px;
  --spacing-120: 120px;
  --spacing-121: 121px;
  --spacing-122: 122px;
  --spacing-123: 123px;
  --spacing-124: 124px;
  --spacing-125: 125px;
  --spacing-126: 126px;
  --spacing-127: 127px;
  --spacing-128: 128px;
  --spacing-129: 129px;
  --spacing-130: 130px;
  --spacing-131: 131px;
  --spacing-132: 132px;
  --spacing-133: 133px;
  --spacing-134: 134px;
  --spacing-135: 135px;
  --spacing-136: 136px;
  --spacing-137: 137px;
  --spacing-138: 138px;
  --spacing-139: 139px;
  --spacing-140: 140px;
  --spacing-141: 141px;
  --spacing-142: 142px;
  --spacing-143: 143px;
  --spacing-144: 144px;
  --spacing-145: 145px;
  --spacing-146: 146px;
  --spacing-147: 147px;
  --spacing-148: 148px;
  --spacing-149: 149px;
  --spacing-150: 150px;
  --spacing-151: 151px;
  --spacing-152: 152px;
  --spacing-153: 153px;
  --spacing-154: 154px;
  --spacing-155: 155px;
  --spacing-156: 156px;
  --spacing-157: 157px;
  --spacing-158: 158px;
  --spacing-159: 159px;
  --spacing-160: 160px;
  --spacing-161: 161px;
  --spacing-162: 162px;
  --spacing-163: 163px;
  --spacing-164: 164px;
  --spacing-165: 165px;
  --spacing-166: 166px;
  --spacing-167: 167px;
  --spacing-168: 168px;
  --spacing-169: 169px;
  --spacing-170: 170px;
  --spacing-171: 171px;
  --spacing-172: 172px;
  --spacing-173: 173px;
  --spacing-174: 174px;
  --spacing-175: 175px;
  --spacing-176: 176px;
  --spacing-177: 177px;
  --spacing-178: 178px;
  --spacing-179: 179px;
  --spacing-180: 180px;
  --spacing-181: 181px;
  --spacing-182: 182px;
  --spacing-183: 183px;
  --spacing-184: 184px;
  --spacing-185: 185px;
  --spacing-186: 186px;
  --spacing-187: 187px;
  --spacing-188: 188px;
  --spacing-189: 189px;
  --spacing-190: 190px;
  --spacing-191: 191px;
  --spacing-192: 192px;
  --spacing-193: 193px;
  --spacing-194: 194px;
  --spacing-195: 195px;
  --spacing-196: 196px;
  --spacing-197: 197px;
  --spacing-198: 198px;
  --spacing-199: 199px;
  --spacing-200: 200px;
}
