@theme {
  --text-1: 1px;
  --text-2: 2px;
  --text-3: 3px;
  --text-4: 4px;
  --text-5: 5px;
  --text-6: 6px;
  --text-7: 7px;
  --text-8: 8px;
  --text-9: 9px;
  --text-10: 10px;
  --text-11: 11px;
  --text-12: 12px;
  --text-13: 13px;
  --text-14: 14px;
  --text-15: 15px;
  --text-16: 16px;
  --text-17: 17px;
  --text-18: 18px;
  --text-19: 19px;
  --text-20: 20px;
  --text-21: 21px;
  --text-22: 22px;
  --text-23: 23px;
  --text-24: 24px;
  --text-25: 25px;
  --text-26: 26px;
  --text-27: 27px;
  --text-28: 28px;
  --text-29: 29px;
  --text-30: 30px;
  --text-31: 31px;
  --text-32: 32px;
  --text-33: 33px;
  --text-34: 34px;
  --text-35: 35px;
  --text-36: 36px;
  --text-37: 37px;
  --text-38: 38px;
  --text-39: 39px;
  --text-40: 40px;
  --text-41: 41px;
  --text-42: 42px;
  --text-43: 43px;
  --text-44: 44px;
  --text-45: 45px;
  --text-46: 46px;
  --text-47: 47px;
  --text-48: 48px;
  --text-49: 49px;
  --text-50: 50px;
  --text-51: 51px;
  --text-52: 52px;
  --text-53: 53px;
  --text-54: 54px;
  --text-55: 55px;
  --text-56: 56px;
  --text-57: 57px;
  --text-58: 58px;
  --text-59: 59px;
  --text-60: 60px;
  --text-61: 61px;
  --text-62: 62px;
  --text-63: 63px;
  --text-64: 64px;
  --text-65: 65px;
  --text-66: 66px;
  --text-67: 67px;
  --text-68: 68px;
  --text-69: 69px;
  --text-70: 70px;
  --text-71: 71px;
  --text-72: 72px;
  --text-73: 73px;
  --text-74: 74px;
  --text-75: 75px;
  --text-76: 76px;
  --text-77: 77px;
  --text-78: 78px;
  --text-79: 79px;
  --text-80: 80px;
  --text-81: 81px;
  --text-82: 82px;
  --text-83: 83px;
  --text-84: 84px;
  --text-85: 85px;
  --text-86: 86px;
  --text-87: 87px;
  --text-88: 88px;
  --text-89: 89px;
  --text-90: 90px;

  /*  */
  --radius-1: 1px;
  --radius-2: 2px;
  --radius-3: 3px;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-7: 7px;
  --radius-8: 8px;
  --radius-9: 9px;
  --radius-10: 10px;
  --radius-11: 11px;
  --radius-12: 12px;
  --radius-13: 13px;
  --radius-14: 14px;
  --radius-15: 15px;
  --radius-16: 16px;
  --radius-17: 17px;
  --radius-18: 18px;
  --radius-19: 19px;
  --radius-20: 20px;
  --radius-21: 21px;
  --radius-22: 22px;
  --radius-23: 23px;
  --radius-24: 24px;
  --radius-25: 25px;
  --radius-26: 26px;
  --radius-27: 27px;
  --radius-28: 28px;
  --radius-29: 29px;
  --radius-30: 30px;
  --radius-31: 31px;
  --radius-32: 32px;
  --radius-33: 33px;
  --radius-34: 34px;
  --radius-35: 35px;
  --radius-36: 36px;
  --radius-37: 37px;
  --radius-38: 38px;
  --radius-39: 39px;
  --radius-40: 40px;
  --radius-41: 41px;
  --radius-42: 42px;
  --radius-43: 43px;
  --radius-44: 44px;
  --radius-45: 45px;
  --radius-46: 46px;
  --radius-47: 47px;
  --radius-48: 48px;
  --radius-49: 49px;
  --radius-50: 50px;
  --radius-51: 51px;
  --radius-52: 52px;
  --radius-53: 53px;
  --radius-54: 54px;
  --radius-55: 55px;
  --radius-56: 56px;
  --radius-57: 57px;
  --radius-58: 58px;
  --radius-59: 59px;
  --radius-60: 60px;
  --radius-61: 61px;
  --radius-62: 62px;
  --radius-63: 63px;
  --radius-64: 64px;
  --radius-65: 65px;
  --radius-66: 66px;
  --radius-67: 67px;
  --radius-68: 68px;
  --radius-69: 69px;
  --radius-70: 70px;
  --radius-71: 71px;
  --radius-72: 72px;
  --radius-73: 73px;
  --radius-74: 74px;
  --radius-75: 75px;
  --radius-76: 76px;
  --radius-77: 77px;
  --radius-78: 78px;
  --radius-79: 79px;
  --radius-80: 80px;
  --radius-81: 81px;
  --radius-82: 82px;
  --radius-83: 83px;
  --radius-84: 84px;
  --radius-85: 85px;
  --radius-86: 86px;
  --radius-87: 87px;
  --radius-88: 88px;
  --radius-89: 89px;
  --radius-90: 90px;

  /*  */
  --tracking-1: var(--spacing) * 1px;
  --tracking-2: var(--spacing) * 2px;
  --tracking-3: var(--spacing) * 3px;
  --tracking-4: var(--spacing) * 4px;
  --tracking-5: var(--spacing) * 5px;
  --tracking-6: var(--spacing) * 6px;
  --tracking-7: var(--spacing) * 7px;
  --tracking-8: var(--spacing) * 8px;
  --tracking-9: var(--spacing) * 9px;
  --tracking-10: var(--spacing) * 10px;
  --tracking-11: var(--spacing) * 11px;
  --tracking-12: var(--spacing) * 12px;
  --tracking-13: var(--spacing) * 13px;
  --tracking-14: var(--spacing) * 14px;
  --tracking-15: var(--spacing) * 15px;
  --tracking-16: var(--spacing) * 16px;
  --tracking-17: var(--spacing) * 17px;
  --tracking-18: var(--spacing) * 18px;
  --tracking-19: var(--spacing) * 19px;
  --tracking-20: var(--spacing) * 20px;
}
